.about.jumbotron.jumbotron-fluid.text-light
  .container
    .row
      .col-4.about-images
        .about-image0.img-fluid
      .col-8.about-images
        .about-image1.img-fluid
      .about-lead
        h2.display-5 Jesteśmy najlepsi, współpracujemy z najlepszymi
        p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
