.about
  .jumbotron.jumbotron-fluid
    .container
      h1.display-3 Jesteśmy doświadczeni współpracujemy z najlepszymi
      p.lead Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
