.footer-menu.text-light
  section.container-fluid.violet
    .container.row.mx-auto
      .col
        h5.footer-menu-header Poznaj nas
        ul.footer-menu-list
          li
            a(href='#') Firma
          li
            a(href='#') Zespół
          li
            a(href='#') Aktualności
          li 
            a(href='#') Referencje
          li
            a(href='#') Historia
          li
            a(href='#') Kariera          
        h5.footer-menu-header
          a(href='#') Strefa wiedzy
        h5.footer-menu-header
          a(href='#') Kontakt
        div.social-mobile-links.text-light
            div.icon-container
              p
                i.fa.fa-facebook-official.social-icon(aria-hidden='true')
              p
                i.fa.fa-twitter-square.social-icon(aria-hidden='true')
              p
                i.fa.fa-instagram.social-icon(aria-hidden='true')
      .col
        h5.footer-menu-header Doradztwo
        ul.footer-menu-list
          li
            a(href='#') System pozyskiwania finansowania
          li
            a(href='#') Restrukturyzacja zadłużenia w JST
          li
            a(href='#') Zwiększenie możliwości finansowych
          li
            a(href='#') Finansowanie inwestycji w JST
          li
            a(href='#') Finansowanie spółek komunalnych
          li
            a(href='#') Centrum usług wspólnych (CUW)
          li
            a(href='#') Tworzenie spółek komunalnych
          li
            a(href='#') Studium wykonalności
          li
            a(href='#') Biznes plany
          li
            a(href='#') Program postępowania naprawczego
          li
            a(href='#') Analizy do projektów PPP
          li
            a(href='#') Konsolidacja (centralizacja) VAT w JST
          li
            a(href='#') Odzyskiwanie VAT dla JST
      .col
        h5.footer-menu-header Finansowanie
        ul.footer-menu-list
          li
            a(href='#') Kredyty inwestycyjne
          li
            a(href='#') Obligacje komunalne
          li
            a(href='#') Obligacje przychodowe
          li
            a(href='#') Obligacje spółek komunalnych
          li
            a(href='#') Wykupy wierzytelności (forfaiting)
          li
            a(href='#') Subrogacja
          li
            a(href='#') Leasing/ dzierżawa zwrotna majątku
          li
            a(href='#') Finansowanie awaryjne (krótkoterminowe)
        h5.footer-menu-header Efektywność
        ul.footer-menu-list
          li
            a(href='#') Zarządzanie efektywnością energetyczną
          li
            a(href='#') Formuła ESCO - Finansowanie inwestycji
          li
            a(href='#') Doradztwo
          li
            a(href='#') Optymalizacja taryf
