.footer.container
  .row
    .col-12.col-md-6
      | Copywright &#169; 2017
    .col-12.col-md-6
      | strony internetowe
      a(href='https://www.iskrzy.pl', title='Agencja Interaktywna Iskrzy')
      img(src='images/iskrzy.png', alt='Agencja Interaktywna Iskrzy')
    
