.footer-menu.text-light
  section.container-fluid.violet
    .container.row.mx-auto
      .col
        h5 Poznaj nas
          ul
            li Firma
            li Zespół
            li Aktualności
            li Referencje
            li Historia
            li Kariera          
        h5 Strefa wiedzy
        h5 Kontakt
      .col
        h5 Doradztwo
          ul
            li System pozyskiwania finansowania
            li Restrukturyzacja zadłużenia w JST
            li Zwiększenie możliwości finansowych
            li Finansowanie inwestycji w JST
            li Finansowanie spółek komunalnych
            li Centrum usług wspólnych (CUW)
            li Tworzenie spółek komunalnych
            li Studium wykonalności
            li Biznes plany
            li Program postępowania naprawczego
            li Analizy do projektów PPP
            li Konsolidacja (centralizacja) VAT w JST
            li Odzyskiwanie VAT dla JST
      .col
        h5 Finansowanie
          ul
            li Kredyty inwestycyjne
            li Obligacje komunalne
            li Obligacje przychodowe
            li Obligacje spółek komunalnych
            li Wykupy wierzytelności (forfaiting)
            li Subrogacja
            li Leasing/ dzierżawa zwrotna majątku
            li Finansowanie awaryjne (krótkoterminowe)
        h5 Efektywność
          ul
            li Zarządzanie efektywnością energetyczną
            li Formuła ESCO - Finansowanie inwestycji
            li Doradztwo
            li Optymalizacja taryf
