.hero.jumbotron.jumbotron-fluid.text-light
  .container-fluid
    .row
      .col-4.hero-images
        .hero-image.hero-img0.img-fluid
      .col-4.hero-images
        .hero-image.hero-img1.img-fluid
        .hero-image.hero-img2.img-fluid
        .hero-image.hero-img3.img-fluid
      .col-4.hero-images
        .hero-image.hero-img4.img-fluid
        .hero-image.hero-img5.img-fluid
        .hero-image.hero-img6.img-fluid
      .hero-lead
        h2.display-5 System pozyskiwania finansowania
        p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a.btn.btn-arrow-next.btn-lg(href="#" role="button")
          i.fa.fa-angle-right(aria-hidden='true')
