.hero.jumbotron.jumbotron-fluid.text-light
  .container
    h1.display-3 System pozyskiwania finansowania
    p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.btn.btn-lg(href="#" role="button")
      i.fa.fa-angle-right(aria-hidden='true')
    .col
      img.hero-image.row(src='images/heroBackground.jpg', alt='')
    .col
      img.hero-image.row(src='images/hero0.jpg', alt='')
      img.hero-image.row(src='images/hero1.jpg', alt='')
      img.hero-image.row(src='images/hero2.jpg', alt='')
    .col
      img.hero-image.row(src='images/hero3.jpg', alt='')
      img.hero-image.row(src='images/hero4.jpg', alt='')
      img.hero-image.row(src='images/hero5.jpg', alt='')
