.hero.jumbotron.jumbotron-fluid.text-light
  .container
    .row
      .col-4.hero-images
        .hero-image0.img-fluid
      .col-4.hero-images
        .hero-image1.img-fluid
        .hero-image2.img-fluid
        .hero-image3.img-fluid
      .col-4.hero-images
        .hero-image4.img-fluid
        .hero-image5.img-fluid
        .hero-image6.img-fluid
      .hero-lead
        h2.display-5 System pozyskiwania finansowania
        p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a.btn.btn-next.btn-lg(href="#" role="button")
          i.fa.fa-angle-right(aria-hidden='true')
