.knowledge
  .jumbotron.jumbotron-fluid
    .container
      h1.display-3 Strefa wiedzy
      p.lead Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      hr.my-4
      p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p.lead
        a.btn.btn-primary.btn-lg(href="#" role="button") Learn more
