.knowledge.jumbotron.jumbotron-fluid.text-light
  .container.knowledge-container
    .row
      .col-12
        div#KnowledgeSlider.carousel.slide.col-12.knowledge-lead(data-ride='carousel')
          .carousel-inner
            .carousel-item.active
              h3.knowledge-header Officia deserunt mollit
              p.lead Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .carousel-item
              h3.knowledge-header Duis aute irure dolor
              p.lead Adipisicing duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              p Cccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .carousel-item
              h3.knowledge-header Ut enim ad minim veniam
              p.lead Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Accaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p Officia deserunt mollit anim id est laborum.
          a.carousel-control-prev.btn.btn-arrow-next.btn-knowledge-slider.btn-lg(href='#KnowledgeSlider', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next.btn.btn-arrow-next.btn-knowledge-slider.btn-lg(href='#KnowledgeSlider', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
          .learn-more
            span.text-right  
              a(href="#" role="button")
                | Zobacz wszystkie 
                i.fa.fa-angle-right(aria-hidden='true')
