div.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light
  a.navbar-brand(href='#') Logo
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    ul.navbar-nav.nav.ml-auto
      li.nav-item
        a.nav-link(href='#news') Aktualności
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Doradztwo
        .dropdown-menu(aria-labelledby='navbarDropdown')
          ul.dropdown-menu-list
            h5.menu-header Doradztwo
            li 
              a.dropdown-item(href='#') System Pozyskiwania Finansowania
            li
              a.dropdown-item(href='#') Restrukturyzacja zadłużenia w JST
            li
              a.dropdown-item(href='#') Zwiększenie możliwości finansowych
            li
              a.dropdown-item(href='#') Finansowanie Usług Wspólnych (CUW)
            li
              a.dropdown-item(href='#') Obligacje komunalne
            li
              a.dropdown-item(href='#') Obligacje przychodowe
            li
              a.dropdown-item(href='#') Obligacje spółek komunalnych
            li
              a.dropdown-item(href='#') Formuła ESCO - finansowanie inwestycji
            li
              a.dropdown-item(href='#') Doradztwo
            li
              a.dropdown-item(href='#') Optymalizacja taryf
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Finansowanie
        .dropdown-menu(aria-labelledby='navbarDropdown')
          ul.dropdown-menu-list              
            h5.menu-header Finansowanie
            li
              a.dropdown-item(href='#') Kredyty inwestycyjne
            li
              a.dropdown-item(href='#') Obligacje komunalne
            li
              a.dropdown-item(href='#') Obligacje przychodowe
            li
              a.dropdown-item(href='#') Zarządzanie efektywnością energetyczną
            li
              a.dropdown-item(href='#') Formuła ESCO - finansowanie inwestycji
            li
              a.dropdown-item(href='#') Doradztwo
            li
              a.dropdown-item(href='#') Optymalizacja taryf
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Optymalizacja energetyczna
        .dropdown-menu(aria-labelledby='navbarDropdown')
          ul.dropdown-menu-list
            h5.menu-header Efektywność energetyczna
            li
              a.dropdown-item(href='#') Zarządzanie efektywnością energetyczną
            li
              a.dropdown-item(href='#') Formuła ESCO - finansowanie inwestycji
            li
              a.dropdown-item(href='#') Doradztwo
            li
              a.dropdown-item(href='#') Optymalizacja taryf
      li.nav-item
        a.nav-link(href='#about') O nas
      li.nav-item
        a.nav-link(href='#knowledge') Strefa wiedzy
      li.nav-item
        a.nav-link(href='#customers') Klienci
      li.nav-item
        a.nav-link(href='#contact') Kontakt
