div.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light
  a.navbar-brand(href='#') Logo
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#') Aktualności
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Usługi
        ul
          .dropdown-menu(aria-labelledby='navbarDropdown')
            h5.menu-header Doradztwo
            li 
              a.dropdown-item(href='#') System Pozyskiwania Finansowania
            li
              a.dropdown-item(href='#') Restrukturyzacja zadłużenia w JST
            li
              a.dropdown-item(href='#') Zwiększenie możliwości finansowych
            li
              a.dropdown-item(href='#') Finansowanie Usług Wspólnych (CUW)
            li
              a.dropdown-item(href='#') Tworzenie spółek komunalnych
            li
              a.dropdown-item(href='#') Studium wykonywalności
            li
              a.dropdown-item(href='#') Biznes Plany
            li
              a.dropdown-item(href='#') Program postępowania naprawczego
            h5.menu-header Finansowanie
            li
              a.dropdown-item(href='#') Kredyty inwestycyjne
            li
              a.dropdown-item(href='#') Obligacje komunalne
            li
              a.dropdown-item(href='#') Obligacje przychodowe
            li
              a.dropdown-item(href='#') Obligacje spółek komunalnych
            li
              a.dropdown-item(href='#') Wykupy wierzytelności (fotfaiting)
            li
              a.dropdown-item(href='#') Subrogacja
            li
              a.dropdown-item(href='#') Leasing / dzierżawa zwrotna majątku
            li
              a.dropdown-item(href='#') Finansowanie awaryjne (krótkoterminowe)
            h5.menu-header Efektywność energetyczna
            li
              a.dropdown-item(href='#') Zarządzanie efektywnością energetyczną
            li
              a.dropdown-item(href='#') Formuła ESCO - finansowanie inwestycji
            li
              a.dropdown-item(href='#') Doradztwo
            li
              a.dropdown-item(href='#') Optymalizacja taryf
      li.nav-item
        a.nav-link(href='#') Poznaj nas
      li.nav-item
        a.nav-link(href='#') Strefa wiedzy
      li.nav-item
        a.nav-link(href='#') Kontakt
