.container
  #news-carousel.carousel.slide.row(data-ride='carousel')
    // Wrapper for slides
    .carousel-inner.col-lg-8.col-md-12.col-sm-12
      .carousel-item.active
        img.img-fluid(src='./images/news0.jpg', alt='News Lorem 0')
        .carousel-caption
          h4
            a(href='#') Epsus altre pasto Cantarae.
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      // End Item
      .carousel-item
        img.img-fluid(src='./images/news1.jpg', alt='News Lorem 1')
        .carousel-caption
          h4
            a(href='#') Consetetur sadipscing elitr, sed diam nonumy eirmod
          p
            | Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
      // End Item
      .carousel-item
        img.img-fluid(src='./images/news2.jpg',  alt='News Lorem 2')
        .carousel-caption
          h4
            a(href='#') Tempor invidunt ut labore et dolore
          p
            | Iincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            // Controls
      .carousel-controls
        a.carousel-control-prev(href='#news-carousel', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#news-carousel', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next  
      // End Item
    // End Carousel Inner
    .news-list.col-4
      .row
        .col-12
          ul.list-group
            li.list-group-item.active(data-target='#news-carousel', data-slide-to='0')
              h4 Lorem ipsum dolor sit amet consetetur sadipscing
              p 03 luty 2018
              a.btn.btn-arrow-next.btn-lg(href="#" role="button")
                i.fa.fa-angle-right(aria-hidden='true')
            li.list-group-item(data-target='#news-carousel', data-slide-to='1')
              h4 Consetetur sadipscing elitar, sed diam nonumy eirmod
              p 06 luty 2018
              a.btn.btn-arrow-next.btn-lg(href="#" role="button")
                i.fa.fa-angle-right(aria-hidden='true')
            li.list-group-item(data-target='#news-carousel', data-slide-to='2')
              h4 Tempor invidunt ut labore et dolore
              p 07 luty 2018
              a.btn.btn-arrow-next.btn-lg(href="#" role="button")
                i.fa.fa-angle-right(aria-hidden='true')
      .row.see-all-news
        .col-12
          span
            a(href="#" role="button")
              | Zobacz wszystkie 
              i.fa.fa-angle-right.btn(aria-hidden='true')
    // End Carousel
