.numbers
  section.container-fluid
    .container.row.mx-auto
      .col
        .numbers-image0
        h3 234
        p Zrealizowanych projektów
      .col
        .numbers-image1
        h3 435mln zł
        p Wygenerowanych oszczędności.
      .col
        .numbers-image2
        h3 3,8mld zł
        p Pozyskanego finansowania z zewnątrz.
      .col
        .numbers-image3
        h3 48
        p Lat doświadczenia naszych menagerów.
