.numbers
  section.container-fluid.yellow
    .container.row.mx-auto
      .col
        h5 234
        p Zrealizowanych projektów
      .col
        h5 435mln zł
        p Wygenerowanych oszczędności.
      .col
        h5 3,8mld zł
        p Pozyskanego finansowania z zewnątrz.
      .col
        h5 48
        p Lat doświadczenia naszych menagerów.
