div.social-nav.text-light
  div.icon-container
    p
      i.fa.fa-facebook-official.social-icon(aria-hidden='true')
    p
      i.fa.fa-twitter-square.social-icon(aria-hidden='true')
    p
      i.fa.fa-instagram.social-icon(aria-hidden='true')
