div.socialNav.text-light
  div.iconContainer
    p
      i.fa.fa-facebook-official.socialIcon(aria-hidden='true')
    p
      i.fa.fa-twitter-square.socialIcon(aria-hidden='true')
    p
      i.fa.fa-instagram.socialIcon(aria-hidden='true')
