div.footer-menu
  background-color: $bussinesBlue

.footer-menu-header
  font-weight: 700

ul.footer-menu-list
  list-style: none
  padding-left: 10px

ul.footer-menu-list a
  font-weight: 300

// RWD social links in footerMenu
.icon-container-mobile
  padding: 5px

.social-links-mobile
  display: none

.social-icon-mobile
  text-align: center
  cursor: pointer
  font-size: 2em
  padding: 10px
