//global styles
*
  font-family: $font
  // outline: 1px red solid

.navbar
  width: 100%
  font-weight: $navbar-item-font

h5.menu-header
  font-weight: $menu-header-font
  padding: 10px 0 10px 0

h5.menu-header:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 100px
  height: 4px
  background-color: white

div.dropdown-menu
  background-color: $bussinesBlue
  border: 0
  border-radius: 0
  color: white
  margin: 8px 0 0 -90px
  padding: 25px

a.dropdown-item
  color: white

.socialNav
  background-color: $bussinesBlue
  position: fixed
  top: 0
  right: 0
  padding-top: 20px
  overflow-x: hidden
  z-index: 1
  height: 100%
  width: 70px

.iconContainer
  width: 70px
  text-align: center
  position: absolute
  bottom: 5px

.socialIcon
  font-size: 2em

section
  padding: 3em 0 3em 0

.carousel-inner
  max-height: 60vh

div.hero
  background-color: $lightBlue
  margin-top: 40px
  height: 600px

div.footer-menu
  background-color: $bussinesBlue
