//global styles
html, body
  height: 100%
  min-height: 100%
  font-family: $font
  // outline: 1px red solid

.navbar
  width: 100%
  font-weight: $navbar-item-font

h5.menu-header
  font-weight: $menu-header-font
  padding: 10px 0 10px 0

h5.menu-header:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 100px
  height: 4px
  background-color: white

div.dropdown-menu
  background-color: $bussinesBlue
  border: 0
  border-radius: 0
  color: white
  margin: 8px 0 0 -130px
  padding: 25px

div.dropdown-menu:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 30px
  height: 30px
  transform: rotate(45deg)
  background-color: $bussinesBlue
  position: relative
  top: -30px
  left: 120px
  z-index: 3

ul.dropdown-menu-list
  position: relative
  top: -50px
  z-index: 50
  list-style: none

a.dropdown-item
  color: white

.socialNav
  background-color: $bussinesBlue
  position: fixed
  top: 0
  right: 0
  padding-top: 20px
  overflow-x: hidden
  z-index: 1
  height: 100%
  width: 70px

.iconContainer
  width: 70px
  text-align: center
  position: absolute
  bottom: 5px

.socialIcon
  font-size: 2em

.socialIcon:hover
  cursor: pointer
  color: $hover-color
  transition: color 1.5s ease-out
  font-size: 2em

section
  padding: 3em 0 3em 0

.carousel-inner
  max-height: 60vh

div.hero
  background-color: $lightBlue
  margin-top: 40px
  height: 600px
  padding: 0

div.hero-lead
  position: absolute
  top: 275px
  padding: 20px
  max-width: 680px

div.hero-lead:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 200px
  height: 4px
  background-color: white

div.col-4.hero-images
  padding: 0

div.hero-image0
  background: url(../images/heroBackground.jpg)
  width: 390px
  height: 600px
  opacity: 0.8

div.hero-image1
  background: url(../images/hero0.jpg)
  width: 400px
  height: 200px
  opacity: 0.7

div.hero-image2
  background-color: $lightBlue
  width: 400px
  height: 200px
  opacity: 0.7

div.hero-image3
  background: url(../images/hero2.jpg)
  width: 400px
  height: 200px
  opacity: 0.7

div.hero-image4
  background: url(../images/hero3.jpg)
  width: 400px
  height: 200px
  opacity: 0.7

div.hero-image5
  background: url(../images/hero4.jpg)
  width: 400px
  height: 200px
  opacity: 0.7

div.hero-image5
  background: url(../images/hero5.jpg)
  width: 400px
  height: 200px
  opacity: 0.7

div.hero-image6
  background: url(../images/hero6.jpg)
  width: 400px
  height: 200px
  opacity: 0.7

div.hero-image1:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-image2:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-image3:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-image4:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-image5:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-image6:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.footer-menu
  background-color: $bussinesBlue
