//global styles
html, body
  position: relative
  height: 100%
  min-height: 100%
  font-family: $font
  outline: 1px red solid

h1, h2, h3, h4, h5, h6
  text-transform: uppercase

a
  color: $font-color

a:hover
  color: $hover-color
  transition: color 1s ease-out
  text-decoration: none

.btn-arrow-next
  background-color: $darkBlue
  border: 1px white solid
  border-radius: 25%
  color: $font-color
  font-size: 32px
  height: 55px
  line-height: 30px
  padding: 10px
  text-align: center
  width: 55px

.navbar
  width: 100%
  font-weight: $navbar-item-font

h5.menu-header
  font-weight: $menu-header-font
  padding: 10px 0 10px 0

h5.menu-header:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 100px
  height: 4px
  background-color: $background

div.dropdown-menu
  background-color: $bussinesBlue
  border: 0
  border-radius: 0
  color: $font-color
  margin: 8px 0 0 -130px
  padding: 25px

div.dropdown-menu:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 30px
  height: 30px
  transform: rotate(45deg)
  background-color: $bussinesBlue
  position: relative
  top: -30px
  left: 120px
  z-index: 3

ul.dropdown-menu-list
  position: relative
  top: -50px
  z-index: 50
  list-style: none

a.dropdown-item
  color: white

.socialNav
  background-color: $bussinesBlue
  position: fixed
  top: 0
  right: 0
  padding-top: 20px
  z-index: 1
  height: 100%
  width: 70px

.iconContainer
  width: 70px
  text-align: center
  position: absolute
  bottom: 5px

.socialIcon
  font-size: 2em

.socialIcon:hover
  cursor: pointer
  transform: scale(1.3,1.3)
  transition: transform 1.5s ease-out
  font-size: 2em

section
  padding: 3em 0 3em 0

div.hero
  background-color: $lightBlue
  margin-top: 40px
  margin-bottom: 0
  height: 600px
  padding: 0

div.hero-lead
  position: absolute
  top: 245px
  padding: 20px
  max-width: 680px
  h2
    font-weight: 900

div.hero-lead:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 200px
  height: 4px
  background-color: white

div.col-4.hero-images
  padding: 0

div.hero-image
  opacity: 0.6
  width: 400px
  height: 200px

div.hero-img0
  background: url(../images/heroBackground.jpg)
  width: 390px
  height: 600px

div.hero-img1
  background: url(../images/hero0.jpg)

div.hero-img2
  background-color: $lightBlue

div.hero-img3
  background: url(../images/hero1.jpg)

div.hero-img4
  background: url(../images/hero2.jpg)

div.hero-img5
  background: url(../images/hero3.jpg)

div.hero-img5
  background: url(../images/hero4.jpg)

div.hero-img6
  background: url(../images/hero5.jpg)

div.hero-img1:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-img2:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-img3:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-img4:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-img5:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

div.hero-img6:hover
  color: $hover-color
  opacity: 1
  transition: opacity 1.3s ease-out

// NEWS STYLES
#news-carousel .carousel-caption
  left: 0
  right: 0
  bottom: 0
  text-align: left
  padding: 10px
  background: rgba(0,0,0,0.6)
  text-shadow: none

#news-carousel .list-group
  position: absolute
  top: 0
  right: 0

#news-carousel .list-group-item
  border-radius: 0px
    cursor: pointer

#news-carousel .list-group .active
  background-color: #eee

@media (min-width: 992px)
  #news-carousel
    padding-right: 33.3333%

  #news-carousel .carousel-controls
    display: none

@media (max-width: 991px)
  .carousel-caption p,
  #news-carousel .list-group
    display: none

// ABOUT STYLES
div.about
  background-color: $lightBlue
  margin: 0
  height: 600px
  padding: 0

div.about-lead
  position: relative
  top: -265px
  padding: 20px
  max-width: 680px
  background-color: rgba(3,79,133,0.6)
  h2
    font-weight: 900

div.about-lead:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 200px
  height: 4px
  background-color: white

div.col-8.about-images, div.col-4.about-images
  padding: 0

div.about-image0
  background: url(../images/aboutUs.jpg)
  width: 390px
  height: 600px
  opacity: 0.8

div.about-image1
  background: url(../images/wearetheteam.jpg) 50%
  width: 900px
  height: 600px
  opacity: 0.7

div.numbers
  background: url(../images/numbersBackground.jpg) 35% 50% no-repeat $numbers-background
  height: 270px
  color: $font-color
  text-align: center

div.numbers-image0
  background: url(../images/check.png) no-repeat
  width: 60px
  height: 60px
  margin: 10px auto

div.numbers-image0:hover
  transform: rotateX(7deg)

div.numbers-image1
  background: url(../images/pig.png) no-repeat
  width: 62px
  height: 60px
  margin: 10px auto

div.numbers-image2
  background: url(../images/pigin.png) no-repeat
  width: 60px
  height: 60px
  margin: 10px auto

div.numbers-image3
  background: url(../images/idea.png) no-repeat
  width: 49px
  height: 60px
  margin: 10px auto

div.knowledge
  background-color: $lightBlue
  height: 640px
  padding: 0

div.knowledge-container
  background: url(../images/knowledgeBackground.jpg) no-repeat $lightBlue
  height: 640px
  padding: 0

.knowledge-lead
  background: url(../images/knowledgeLeadBackground.jpg) 35% 50% no-repeat
  padding: 25px
  background-color: $darkBlue
  margin: 80px auto
  width: 550px
  height: 450px

.knowledge-header:before
  content: "\a0"
  display: block
  margin-bottom: 6px
  width: 200px
  height: 4px
  background-color: white

.btn-knowledge-slider
  position: absolute
  top: 320px
  margin: 0 200px

.learn-more
  position: absolute
  bottom: 10px
  right: 10px
  a
    text-transform: uppercase
    font-weight: 700
  .fa
    padding: 10px

.customer-img0
  background: url(../images/customer0.png) no-repeat
  width: 77px
  height: 80px
  margin: 10px auto

.customer
  filter: grayscale(100%)

.customer:hover
  filter: grayscale(0)
  transition: filter 1.5s ease-out

.customer-img1
  background: url(../images/customer1.png) no-repeat
  width: 138px
  height: 64px
  margin: 10px auto

.customer-img2
  background: url(../images/customer2.png) no-repeat
  width: 66px
  height: 80px
  margin: 10px auto

.customer-img3
  background: url(../images/customer3.png) no-repeat
  width: 66px
  height: 85px
  margin: 10px auto

.customer-img4
  background: url(../images/customer4.png) no-repeat
  width: 67px
  height: 78px
  margin: 10px auto

.customers-list
  margin-top: 40px

div.footer-menu
  background-color: $bussinesBlue

.footer-menu-header
  font-weight: 700

ul.footer-menu-list
  list-style: none
  padding-left: 10px

ul.footer-menu-list a
  font-weight: 300

div.footer
  height: 50px
  line-height: 50px
  img
    padding: 10px
  div.footer-left
    text-align: left
  div.footer-right
    text-align: right
