@media (min-width: 992px)
  #news-carousel .carousel-controls
      display: none

@media (max-width: 991px)
  .social-nav
    display: none

  .social-mobile-links
    display: block

  .carousel-caption p, #news-carousel .list-group, .see-all-news, div.news-list
    display: none
    visibility: hidden

  ul.dropdown-menu-list
    padding-left: 50px
