//media queries
@media (min-width: 992px)
  #news-carousel .carousel-controls
      display: none

@media (max-width: 991px)
  .social-nav
    display: none

  .social-links-mobile
    display: block

  .carousel-caption p, #news-carousel .list-group, .see-all-news, div.news-list
    display: none

  ul.dropdown-menu-list
    padding-left: 50px

  div.numbers
    background: $numbers-background

  #news-carousel .carousel-inner .carousel-item
    height: 450px

  h5.menu-header
    left: 50px

  .btn-knowledge-slider
    margin: 0 60px
    top: auto
    bottom: 70px

@media (max-width: 600px)
  .btn-knowledge-slider
    margin: 0 60px
    top: auto
    bottom: 70px

@media (max-width: 500px)
  .knowledge-lead
    height: 600px
    // max-width: 100vw
  div.about-lead
    padding: 10px
